---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$default-color: #4E854B;

@import 'base', 'post';

body {
  background: url(/images/texture-white.png) repeat;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 20px;

  .container {
    max-width: 650px;

    > .post-title {
      margin: 0 0 10px 0;

      a {
        border-bottom: none;
      }
    }
  }
}

@import 'syntax-highlight';
